* { box-sizing: border-box;  }
  .bold {
    font-weight: bold;
  }
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
  body { 
    font-family: Arial, Helvetica, sans-serif;
    }
  header { 
    text-align: left;
    border-bottom: 4px solid black; 
    width: 80%;
    }
  footer { 
    font-size: 75%;
    font-style: italic; 
    text-align: center;
    font-family: Georgia, "Times New Roman", serif; 
    padding: 2em;
    background-color: white;
    }
  table {
    display: flex; 
    overflow: scroll;
    flex-flow: column nowrap; 
    }
  td {
    padding: 0.5em;
    border: 2px solid black;
    text-align: center;
    }
  th {
    padding: 0.5em;
    border: 2px solid black;
    }
  tr:nth-of-type(odd) { 
    background-color:#F5FAFC; 
    }
  form { 
    display: flex; 
    padding: 0.5em;
    flex-flow: column; 
  }    
  #make_filter, #type_filter, #class_filter {
    display: flex; 
    width: 80%;
    flex-flow: column nowrap; 
    font-size: 125%;
  }
  .sorters{
    font-weight: bold;
    padding: 0.5em;
  }
  .button{
    width: 40%;
    box-shadow: inset -2px -2px 3px rgba(0, 0, 0, .6);
    font-weight: bold;
  }
  .register{
    text-align: right;
  }

 @media (min-width: 600px) {
  header { 
    padding-left: 10%;
    width: 100%;
    }
  table {
    overflow:auto;
    }  
} 